body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.section {
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    scroll-snap-align: start;
    color: #fff;
}

#section1 {
    background: linear-gradient(to top, #eed0b1, #d99375, #863d32, #5f1400);
}

#section2,
#section3 {
    background: #f4f4f4;
    color: #333;
}

.profile-image {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    overflow: hidden;
}

.right-content {
    text-align: right;
    padding-right: 10px;
}

h1 {
    font-size: 4em;
    margin-bottom: 10px;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

.left-content {
    text-align: center;
    margin-right: 200px;
}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 100px;
    margin-inline-end: 0px;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

/* Add more styles as needed */
